version: 2
updates:
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
    reviewers:
      - "@nais/core-dpendabot-reviewers"
  - package-ecosystem: "github-actions"
    directory: "/" # must be root (ref. docs)
    schedule:
      interval: "weekly"
    reviewers:
      - "@nais/core-dependabot-reviewers"
  - package-ecosystem: "pip" # poetry / pyproject
    directory: "/"
    schedule:
      interval: "weekly"
    reviewers:
      - "@nais/core-dependabot-reviewers"
  - package-ecosystem: "terraform"
    directory: "/terraform/"
    schedule:
      interval: "weekly"
    reviewers:
      - "@nais/core-dependabot-reviewers"
