#!/usr/bin/env bash

# Export all:
# - (should be) .gitignored
# - (potentially) secret environment variables
# - from dotenv-formatted files w/names starting w/`.env`
DOTENV_FILES="$(find . -maxdepth 1 -type f -name '.env*' -and -not -name '.envrc')"
for file in ${DOTENV_FILES}; do
  dotenv "${file}"
done
export DOTENV_FILES

if command -v nix-shell &>/dev/null; then
  use flake
fi
