site_name: NAIS
repo_url: https://github.com/nais/doc
site_url: https://doc.nais.io/
edit_uri: edit/main/docs/
theme:
  name: material
  language: "en"
  logo: assets/logo-white.png
  favicon: assets/logo-white.png
  custom_dir: custom_theme_overrides
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default # light-mode
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate # dark-mode
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.action.edit
    - content.code.copy
    - content.code.annotate
    - content.tabs.link
    - navigation.footer
    - navigation.instant
    - navigation.indexes
    - search.suggest
    - search.highlight
    - search.share
  icon:
    repo: fontawesome/brands/github
copyright: Made with ❤️ by NAV
extra:
  generator: false
  search:
    language: "en"
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/nais
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/nais_io
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/nav
    - icon: fontawesome/brands/internet-explorer
      link: https://nais.io/blog
  analytics:
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/emoticon-happy-outline
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!
        - icon: material/emoticon-sad-outline
          name: This page could be improved
          data: 0
          note: >-
            Thanks for your feedback! Help us improve this page by
            using our <a href="https://github.com/nais/doc/issues/new">feedback form</a> or contact us on Slack</a>.
extra_javascript:
  - javascript/amplitude_events.js
extra_css:
  - material_theme_stylesheet_overrides/uu.css
  - material_theme_stylesheet_overrides/grid.css
plugins:
  - awesome-pages
  - tags:
      tags_file: ./tags.md
  - macros:
      j2_variable_start_string: "<<"
      j2_variable_end_string: ">>"
  - search:
      lang: en
  - git-revision-date-localized:
      enable_creation_date: true
      type: timeago
      strict: false
      enabled: !ENV [CI, false]
  - redirects:
      redirect_maps:
        "addons/unleash-next.md": "services/feature-toggling.md"
        "addons/unleash.md": "services/feature-toggling.md"
        "addons/wonderwall.md": "security/auth/wonderwall.md"
        "basics/access.md": "operate/how-to/command-line-access.md"
        "basics/teams.md": "explanations/team.md"
        "cli.md": "operate/cli/README.md"
        "cli/commands/validate.md": "operate/cli/reference/validate.md"
        "cli/commands/kubeconfig.md": "operate/cli/reference/kubeconfig.md"
        "clusters/gcp.md": "workloads/reference/environments.md"
        "clusters/on-premises.md": "workloads/reference/environments.md"
        "clusters/service-discovery.md": "workloads/how-to/communication.md"
        "deployment.md": "build/README.md"
        "deployment/github-action.md": "build/how-to/build-and-deploy.md"
        "device/install.md": "operate/naisdevice/how-to/install.md"
        "device/update.md": "operate/naisdevice/how-to/update.md"
        "explanation/cdn.md": "services/cdn/README.md"
        "explanation/feature-toggling.md": "services/feature-toggling.md"
        "explanation/leader-election.md": "services/leader-election/README.md"
        "explanation/good-practices.md": "workloads/explanations/good-practices.md"
        "explanation/nais-application/access-policy.md": "workloads/explanations/zero-trust.md"
        "explanation/naisdevice.md": "operate/naisdevice/README.md"
        "explanation/observability/README.md": "observability/README.md"
        "explanation/observability/alerting.md": "observability/alerting/README.md"
        "explanation/observability/frontend.md": "observability/frontend/README.md"
        "explanation/observability/logging.md": "observability/logging/README.md"
        "explanation/observability/metrics.md": "observability/metrics/README.md"
        "explanation/observability/tracing.md": "observability/tracing/README.md"
        "explanation/workloads/job.md": "workloads/job/README.md"
        "explanation/workloads/cdn.md": "services/cdn/README.md"
        "explanation/zero-trust.md": "workloads/explanations/zero-trust.md"
        "guides/oci-migration.md": "build/how-to/oci-migration.md"
        "how-to-guides/access-policies.md": "workloads/how-to/access-policies.md"
        "how-to-guides/cdn.md": "services/cdn/README.md"
        "how-to-guides/command-line-access.md": "operate/how-to/command-line-access.md"
        "how-to-guides/command-line-access/setup.md": "operate/how-to/command-line-access.md"
        "how-to-guides/dependabot-auto-merge.md": "build/how-to/dependabot-auto-merge.md"
        "how-to-guides/github-action.md": "build/how-to/build-and-deploy.md"
        "how-to-guides/exposing-an-application/README.md": "workloads/application/how-to/expose.md"
        "how-to-guides/nais-cli/install.md": "operate/cli/how-to/install.md"
        "how-to-guides/naisdevice/install.md": "operate/naisdevice/how-to/install.md"
        "how-to-guides/naisdevice/troubleshooting.md": "operate/naisdevice/how-to/troubleshooting.md"
        "how-to-guides/naisdevice/update.md": "operate/naisdevice/how-to/update.md"
        "how-to-guides/observability/alerts/grafana.md": "observability/alerting/how-to/grafana.md"
        "how-to-guides/observability/alerts/prometheus-advanced.md": "observability/alerting/how-to/prometheus-advanced.md"
        "how-to-guides/observability/alerts/prometheus-basic.md": "observability/alerting/how-to/prometheus-basic.md"
        "how-to-guides/observability/auto-instrumentation.md": "observability/how-to/auto-instrumentation.md"
        "how-to-guides/observability/logs/disable.md": "observability/logging/how-to/disable.md"
        "how-to-guides/observability/logs/kubectl.md": "observability/logging/how-to/kubectl.md"
        "how-to-guides/observability/logs/loki.md": "observability/logging/how-to/loki.md"
        "how-to-guides/observability/metrics/dashboard.md": "observability/metrics/how-to/dashboard.md"
        "how-to-guides/observability/metrics/expose.md": "observability/metrics/how-to/expose.md"
        "how-to-guides/observability/metrics/push.md": "observability/metrics/how-to/push.md"
        "how-to-guides/observability/tracing/context-propagation.md": "observability/tracing/how-to/context-propagation.md"
        "how-to-guides/observability/tracing/correlate-traces-logs.md": "observability/tracing/how-to/correlate-traces-logs.md"
        "how-to-guides/observability/tracing/otel-tracing.md": "observability/how-to/auto-instrumentation.md"
        "how-to-guides/observability/tracing/tempo.md": "observability/tracing/how-to/tempo.md"
        "how-to-guides/persistence/bigquery/create.md": "persistence/bigquery/how-to/create.md"
        "how-to-guides/persistence/kafka/delete.md": "persistence/kafka/how-to/delete.md"
        "how-to-guides/persistence/postgres/README.md": "persistence/postgres/README.md"
        "how-to-guides/secrets/console.md": "services/secrets/how-to/console.md"
        "nais-application/access-policy.md": "workloads/explanations/zero-trust.md"
        "nais-application/automatic-scaling.md": "workloads/application/reference/automatic-scaling.md"
        "nais-application/application.md": "workloads/application/reference/application-spec.md"
        "nais-application/example.md": "workloads/application/reference/application-example.md"
        "nais-application/ingress.md": "workloads/reference/ingress.md"
        "naisjob.md": "workloads/job/README.md"
        "observability/alerts.md": "observability/alerting/README.md"
        "observability/grafana.md": "observability/README.md"
        "observability/logs/README.md": "observability/logging/README.md"
        "observability/logs/examples.md": "observability/logging/README.md"
        "persistence/kafka/manage_topics.md": "persistence/kafka/README.md"
        "persistence/open-search/README.md": "persistence/opensearch/README.md"
        "reference/application-example.md": "workloads/application/reference/application-example.md"
        "reference/application-spec.md": "workloads/application/reference/application-spec.md"
        "reference/cli/postgres.md": "operate/cli/reference/postgres.md"
        "reference/cli/validate.md": "operate/cli/reference/validate.md"
        "reference/environments.md": "workloads/reference/environments.md"
        "reference/default-variables.md": "workloads/reference/default-variables.md"
        "reference/glossary.md": "observability/reference/glossary.md"
        "reference/ingress.md": "workloads/reference/ingress.md"
        "reference/json-schema.md": "workloads/reference/json-schema.md"
        "reference/kafka-topic-spec.md": "persistence/kafka/reference/kafka-topic-spec.md"
        "reference/metrics.md": "observability/metrics/reference/metrics.md"
        "reference/naisjob-example.md": "workloads/job/reference/naisjob-example.md"
        "reference/naisjob-spec.md": "workloads/job/reference/naisjob-spec.md"
        "reference/observability/alerts/prometheusrule.md": "observability/alerting/reference/prometheusrule.md"
        "reference/observability/auto-config.md": "observability/reference/auto-config.md"
        "reference/observability/logs/logql.md": "observability/logging/reference/logql.md"
        "reference/observability/metrics/globals.md": "observability/metrics/reference/globals.md"
        "reference/observability/metrics/grafana.md": "observability/metrics/reference/grafana.md"
        "reference/observability/metrics/otel.md": "observability/metrics/reference/otel.md"
        "reference/observability/metrics/promql.md": "observability/metrics/reference/promql.md"
        "reference/observability/otel/tracing.md": "observability/reference/auto-config.md"
        "reference/observability/tracing/trace-semconv.md": "observability/tracing/reference/trace-semconv.md"
        "reference/observability/tracing/traceql.md": "observability/tracing/reference/traceql.md"
        "reference/secrets.md": "services/secrets/README.md"
        "security/auth/azure-ad/README.md": "auth/entra-id/README.md"
        "security/auth/azure-ad/configuration.md": "auth/entra-id/reference/README.md"
        "security/auth/azure-ad/faq-troubleshooting.md": "auth/entra-id/reference/README.md"
        "security/auth/azure-ad/sidecar.md": "auth/entra-id/how-to/login.md"
        "security/auth/azure-ad/usage.md": "auth/entra-id/README.md"
        "security/auth/concepts.md": "auth/explanations/README.md"
        "security/auth/idporten.md": "auth/idporten/README.md"
        "security/auth/maskinporten/README.md": "auth/maskinporten/README.md"
        "security/auth/maskinporten/client.md": "auth/maskinporten/how-to/consume.md"
        "security/auth/maskinporten/scopes.md": "auth/maskinporten/how-to/secure.md"
        "security/auth/tokenx.md": "auth/tokenx/README.md"
        "security/salsa/salsa.md": "services/salsa.md"
        "security/salsa.md": "services/salsa.md"
        "tutorial/hello-nais/README.md": "tutorials/hello-nais.md"
        "tutorial/hello-nais/hello-nais-1.md": "tutorials/hello-nais.md"
        "tutorial/hello-nais/hello-nais-2.md": "tutorials/hello-nais.md"
        "tutorial/hello-nais/hello-nais-3.md": "tutorials/hello-nais.md"
        "tutorial/hello-nais/hello-nais-4.md": "tutorials/hello-nais.md"
markdown_extensions:
  - toc:
      permalink: True
  - admonition
  - pymdownx.details
  - pymdownx.caret
  - pymdownx.tilde
  - pymdownx.superfences:
      preserve_tabs: true
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.highlight:
      use_pygments: true
      linenums_style: pymdownx-inline
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tasklist
  - pymdownx.smartsymbols
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - def_list
  - attr_list
  - footnotes
  - md_in_html
  - pymdownx.tasklist:
      custom_checkbox: true
