site_name: NAIS
repo_url: https://github.com/nais/doc
site_url: https://doc.nais.io/
edit_uri: edit/main/docs/
theme:
  name: material
  language: "en"
  logo: assets/logo-white.png
  favicon: assets/logo-white.png
  custom_dir: custom_theme_overrides
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default # light-mode
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate # dark-mode
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.action.edit
    - content.code.copy
    - content.code.annotate
    - content.tabs.link
    - navigation.footer
    - navigation.instant
    - navigation.indexes
    - search.suggest
    - search.highlight
    - search.share
  icon:
    repo: fontawesome/brands/github
copyright: Made with ❤️ by NAV
extra:
  generator: false
  search:
    language: "en"
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/nais
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/nais_io
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/nav
    - icon: fontawesome/brands/internet-explorer
      link: https://nais.io/blog
  analytics:
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/emoticon-happy-outline
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!
        - icon: material/emoticon-sad-outline
          name: This page could be improved
          data: 0
          note: >-
            Thanks for your feedback! Help us improve this page by
            using our <a href="https://github.com/nais/doc/issues/new">feedback form</a> or contact us on Slack</a>.
extra_javascript:
  - javascript/amplitude_events.js
  - javascript/tenant_redirect.js
extra_css:
  - material_theme_stylesheet_overrides/uu.css
  - material_theme_stylesheet_overrides/grid.css
plugins:
  - awesome-pages
  - macros:
      j2_variable_start_string: "<<"
      j2_variable_end_string: ">>"
  - search:
      lang: en
  - git-revision-date-localized:
      enable_creation_date: true
      type: timeago
      strict: false
  - redirects:
      redirect_maps:
          'addons/unleash-next.md': 'explanation/feature-toggling.md'
          'addons/unleash.md': 'explanation/feature-toggling.md'
          'observability/README.md': 'explanation/observability/README.md'
          'observability/alerts.md': 'explanation/observability/alerting.md'
          'observability/frontend/README.md': 'explanation/observability/frontend.md'
          'observability/grafana.md': 'explanation/observability/README.md'
          'observability/logs/README.md': 'explanation/observability/logging.md'
          'observability/logs/examples.md': 'explanation/observability/logging.md'
          'observability/metrics.md': 'explanation/observability/metrics.md'
          'observability/tracing.md': 'explanation/observability/tracing.md'
markdown_extensions:
  - toc:
      permalink: True
  - admonition
  - pymdownx.details
  - pymdownx.caret
  - pymdownx.tilde
  - pymdownx.superfences:
      preserve_tabs: true
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.highlight:
      use_pygments: true
      linenums_style: pymdownx-inline
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tasklist
  - pymdownx.smartsymbols
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - def_list
  - attr_list
  - footnotes
  - md_in_html
  - pymdownx.tasklist:
      custom_checkbox: true
