.md-header-nav__source a {
  text-decoration: none;
}

.md-footer-copyright {
  color: #ffffff;
}

a {
  text-decoration: underline;
}

@media screen and (min-width: 60em) {
  .md-search__inner {
    width: 14.7rem;
  }
}

.md-search__input {
  background-color: hsla(0, 0%, 96%, 1);
  color: hsla(0, 0%, 0%, 0.87);
}

.md-search__icon svg {
  color: hsla(0, 0%, 0%, 0.87);
}

.md-search__input:hover {
  background-color: hsla(0, 0%, 100%, 1);
}

.md-search__input::placeholder {
  color: hsla(0, 0%, 0%, 0.87);
}

[data-md-toggle=search]:checked~.md-header .md-search__input {
  color: hsla(0, 0%, 0%, 0.87);
  background-color: hsla(0, 0%, 100%, 1);
}
