name: Build and publish doc
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # required for git date plugin

      - name: Install poetry
        run: pipx install poetry

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
          architecture: x64
          cache: poetry

      - name: Install all dependencies
        run: |
          poetry sync \
          --no-interaction \
          --ansi

      - name: Build documentation
        run: |
          ./build.sh nav ssb test-nais ldir atil ci-nais dev-nais tenant

      - name: Upload generated doc artifact
        uses: actions/upload-artifact@v4
        with:
          name: out-folder
          path: out

  publish:
    if: github.ref == 'refs/heads/main'
    needs: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tenant:
          - name: ci-nais
            bucket: doc.ci-nais.cloud.nais.io
          - name: dev-nais
            bucket: doc.dev-nais.cloud.nais.io
          - name: nav
            bucket: doc.nav.cloud.nais.io
          - name: nav
            bucket: docs.nais.io
          - name: ssb
            bucket: doc.ssb.cloud.nais.io
          - name: test-nais
            bucket: doc.test-nais.cloud.nais.io
          - name: ldir
            bucket: doc.ldir.cloud.nais.io
          - name: atil
            bucket: doc.atil.cloud.nais.io
    steps:
      - name: Download generated doc artifact
        uses: actions/download-artifact@v4
        with:
          name: out-folder

      - name: Sync documentation to bucket
        uses: actions-hub/gcloud@524.0.0
        env:
          PROJECT_ID: not-used
          APPLICATION_CREDENTIALS: ${{ secrets.NAIS_DOC_SA }}
        with:
          args: -m rsync -r -c -d out/${{matrix.tenant.name}}/ gs://${{ matrix.tenant.bucket }}
          cli: gsutil

      - name: Invalidate cache
        uses: actions-hub/gcloud@524.0.0
        env:
          PROJECT_ID: not-used
          APPLICATION_CREDENTIALS: ${{ secrets.NAIS_DOC_SA }}
        with:
          args: -m setmeta -r -h 'Cache-Control:public, max-age=180' 'gs://${{ matrix.tenant.bucket }}/*'
          cli: gsutil
